
.carousel-item{
    height: 75vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-backgroung-size: cover;
    background-size: cover;
  }
 
.space-between-navbar-carousel {
  margin-top: 90px; /* Adjust the margin as needed to create space */
}

   .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    opacity: 0.5;
  
  } 
   .carousel-caption{
    bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .carousel-caption h5{
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 20px;
  }
  .carousel-caption p{
    color: white;
    background: linear-gradient(109.6deg, rgb(9, 154, 151) 11.2%, rgb(21, 205, 168) 91.1%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px solid black;
    font-family: 'Amatic SC', cursive;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 10px;
  } 
   nav {
    margin-left: 25%;
    margin-top: 100px;
    position: absolute;
 }
 nav ul li {
    display: inline-flex;
    list-style: none;
    font-size: 70px;
 }
 .logo{
    width: 100px;
 }
 a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    padding-right: 50px;
 }
 a:hover {
    color: #7FD1B9;
 } 
